*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@media (max-width: 566px){
    #video{
        width: 95%;
    }
}

body{
    background: #C2C5AA;

    header{
        top: 0;
        text-align: center;
        width: 100%;
        max-width: 100%;
        position: fixed;
        display: flexbox;
        align-items: center;
        background: #414833;
        padding-bottom: 1em;

        nav{
            
            li{
                display: inline-block;
                margin: 4px;
                list-style: none;
                border: 1px solid #C2C5AA;
                padding: 0.2em 1em;
                border-radius:3px;
                transition: 0.5s;
                color: #C2C5AA;
                &:hover{
                    background-color:#C2C5AA;
                    color: #414833;
                }

                a{
                    text-decoration: none;
                    color: inherit;
                    font-style: normal;
                }
            }
            
        }
    }

    #requeest{
        margin-top: 120px;
        padding: 2em 0;
        text-align: center;
        align-items: center;
        transition: 0.5s;

        form{
            text-align: center;
            input{
                margin: 1em auto;
                display: block;
            }
            .btn, #email{
                transition: 0.5s;
                border-radius: 4px;               
                padding: 0.5em 1em;
                background: none;
                border-color: rgb(46, 43, 43);
            }
            .btn{
                background:rgb(46, 43, 43);
                color: #C2C5AA;
            }
            .btn:hover{
                background: rgb(78, 69, 69);
                color:rgb(250, 234, 234);;
                
            }
        }
    }

    .container{
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        #features{
            margin: 0 1em;
            max-width: 650px;
            .grid{
                display: flex;
    
                align-items: center;
                margin-bottom: 4em;

                .icon{
                    margin-right: 10px;
                }
            }
        }

        #how-it-works{
            text-align: center;
            width: 100%;
            margin: 1em;
        }

        #pricing{
            text-align: center;
            width: 100%;
            margin: 5em auto;
            padding: 0 2em;
          
            .contcarts{
                width: 100%;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
                gap: 1.2em;
               
                .card{
                    border: 2px solid rgb(46, 43, 43);
                    border-radius: 3px;

                    .lavel{
                        background: #A4AC86;
                        padding: 10px 0;
                        margin-bottom: 1em;
                    }

                    ul{
                        margin: 1.6em 0;
                        li{
                            list-style: none;
                        }
                    }

                    button{
                        margin: 9px 0;
                        transition: 0.5s;
                        border-radius: 4px;               
                        padding: 0.5em 1em;
                        background: none;
                        border-color: rgb(46, 43, 43);
                        background:rgb(46, 43, 43);
                        color: #C2C5AA;
    
                        &:hover{
                            background: rgb(78, 69, 69);
                            color:rgb(250, 234, 234);;
                        }
                    }
                }   
            }
        }
    }

    footer{
        max-width: 100%;  
        text-align: center;
        display: flex;
        justify-content: center;
        
        .contener{
            border-radius: 3px;
            width: 80%;
            background: #A4AC86;
            padding: 1em;
        }
    }

    
}